#!/usr/bin/env zsh

{{- if eq .chezmoi.os "darwin" }}
BWARDEN_EXE="/Applications/Bitwarden.app/Contents/MacOS/Bitwarden"
if ! [[ -x "$BWARDEN_EXE" ]]
then
  echo
  echo "*** WARNING no executable found at $BWARDEN_EXE"
  echo "*** Without Bitwarden running, some ssh key management will fail."
  echo
fi
{{- else}}
if flatpak info com.bitwarden.desktop >& /dev/null
then
  true
else
  echo
  echo "*** WARNING no com.bitwarden.desktop Flatpak found"
  echo "*** Without Bitwarden running, some ssh key management will fail."
  echo
fi
{{- end }}
