{
  "data": {
    "wezterm": {
      "font": {
        "size": 10
      }
    },
    "sublime-text": {
      "color_scheme": "Rapture.sublime-color-scheme",
      "font": {
        "size": 10
      },
      "theme": "Default Dark.sublime-theme"
    },
    "sublime-merge": {
      "font": {
        "size": 10
      }
    }
  },
  "diff": {
    "exclude": ["scripts"]
  }
}
