{
  "data": {
    "wezterm": {
      "font": {
        "size": 10
      }
    },
    "sublime-text": {
      "font": {
        "size": 10
      }
    },
    "sublime-merge": {
      "font": {
        "size": 10
      }
    }
  },
  "diff": {
    "exclude": ["scripts"]
  }
}
