[user]
	name = Joel Baxter
	email = joel.baxter@neogeographica.com
[includeIf "gitdir:~/Projects/Work/"]
	path = ~/Projects/Work/.gitconfig
[core]
	excludesfile = ~/.gitignore_global
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[merge]
{{- if eq .chezmoi.os "darwin" }}
	conflictstyle = zdiff3
{{- else }}
	conflictstyle = diff3
{{- end }}
[rerere]
	enabled = true
[branch]
	sort = -committerdate
