Host github.com
    HostName github.com
    User git
    PreferredAuthentications publickey
{{- if eq .chezmoi.os "darwin" }}
    AddKeysToAgent yes
    UseKeychain yes
{{- end }}
    IdentityFile ~/.ssh/ng_github_rsa
    IdentityFile ~/.ssh/bluedata_github_rsa
    IdentitiesOnly yes

Host gist.github.com
    HostName github.com
    User git
    PreferredAuthentications publickey
{{- if eq .chezmoi.os "darwin" }}
    AddKeysToAgent yes
    UseKeychain yes
{{- end }}
    IdentityFile ~/.ssh/ng_github_rsa
    IdentityFile ~/.ssh/bluedata_github_rsa
    IdentitiesOnly yes
