font-family = MonaspiceNe Nerd Font Mono
font-family = MonaspiceNe NFM
font-family = Noto Color Emoji
font-size = {{ dig "ghostty" "font" "size" 10 . }}

theme = Rapture

copy-on-select = clipboard
selection-word-chars = " \t'\"│`|:;,()[]{}<>$="

cursor-style = block
cursor-style-blink = false
{{- if eq .chezmoi.os "darwin" }}

bell-features = system,attention,title
{{- else }}

bell-features = audio,attention,title
bell-audio-path = /usr/share/sounds/freedesktop/stereo/window-attention.oga
bell-audio-volume = 1.0
{{- end }}

shell-integration-features = no-cursor,no-title,ssh-terminfo,ssh-env

window-padding-x = 6
window-padding-y = 6

adjust-cell-height = 8%
{{- if eq .chezmoi.os "darwin" }}

font-thicken = true
font-thicken-strength = 64
adjust-cell-width = -8%
{{- end }}
