font-family = MonaspiceNe Nerd Font Mono
font-size = {{ dig "ghostty" "font" "size" 10 . }}

theme = Rapture

cursor-style = block
cursor-style-blink = false

shell-integration-features = no-cursor,ssh-terminfo,ssh-env
